<section class="newProduct">
  <form
    class="newProduct__form"
    [formGroup]="myForm"
    autocomplete="off"
  >
    <!-- name -->
    <fieldset class="fieldset-name">
      <label for="name" class="form-label">Producto: </label>
      <input
        type="text"
        id="name"
        class="name"
        formControlName="name"
      />
      <div *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched" class="text-danger">
        Nombre es requerido
      </div>
    </fieldset>
    <!-- price -->
    
    <fieldset class="fieldset-price">
        <label for="price" class="form-label">Precio: </label>
      <input
        type="number"
        id="price"
        min="0"
        class="price"
        formControlName="price"
      />
      <div *ngIf="myForm.get('price')?.invalid && myForm.get('price')?.touched" class="text-danger">
        Precio es requerido y debe ser un número positivo.
      </div>
    </fieldset>
    <!-- quantity -->
    <fieldset class="fieldset-quantity">
      <label for="quantity" class="form-label">Unidades: </label>
      <input
        type="number"
        id="quantity"
        class="quantity"
        min="0"
        formControlName="quantity"
      />
      <div *ngIf="myForm.get('quantity')?.invalid && myForm.get('quantity')?.touched" class="text-danger">
        La cantidad es requerida y debe ser un número positivo.
      </div>
    </fieldset>
  </form>
</section>
