// abstract
@import "./abstract/colors";
// base
@import "./base/typography";
// components
@import "./components/side-menu";
@import "./components/login-form";
@import "./components/simple-table";
// layout
// pages
@import "./pages/welcome";
@import "./pages/login";
@import "./pages/dashboard";
// themes
// vendors

html {
    width: 100%;
    height: 100%;
    background-image: url("../assets/imgs/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }