<nav class="sidebar">
  <!-- topBar -->
  <div class="sidebar-info flex items-center gap-4">
    <lucide-icon name="chef-hat" [class]="sectionObject().class"></lucide-icon>
    <div class="navbar-info__title">
      <div class="title-container flex flex-row flex-start content-center">
        <h1 class="text-2xl">{{ sectionObject().title | titlecase }}</h1>
        <img
          width="32"
          height="32"
          class="welcome-icon mx-2"
          src="../../../../assets/icons/icon_big_white.png"
          alt="alex-logo"
        />
      </div>
      <p class="text-xl">{{ sectionObject().subtitle }}</p>
    </div>
  </div>
  <!-- Link List -->
   <section class="sidebar-links my-5">
    <ul>
      <li><a routerLink="/private/dinning-room" routerLinkActive="is-active">Dinning Room</a></li>
      <li><a routerLink="/private/dashboard" routerLinkActive="is-active">Dashboard</a></li>
      <li><a routerLink="/private/recetas" routerLinkActive="is-active">Recetas</a></li>
      <li><a routerLink="/private/stock" routerLinkActive="is-active">Stock</a></li>
      <li><a routerLink="/private/inventario" routerLinkActive="is-active">Inventario</a></li>
      <li><a routerLink="/private/ventas" routerLinkActive="is-active">Ventas</a></li>
      <li><a routerLink="/private/gastos" routerLinkActive="is-active">Gastos</a></li>
    </ul>
   </section>
</nav>
