@import "../abstract/colors";

.dashboard-container {
  .first-section { // flexbox
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    // align-items: flex-start;

    .inventory-container{
      width: 79.6vw;
      max-width: 79.6vw;
    }

    .gains-losses-container {
    }
  }

  .second-section{
  }

  .second-section{
  }
}

// containers common style
.table-container {
    background-color: $solid-color-light;
        color: $solid-color-black;
        border-radius: 10px;
        padding: 20px;
        margin: 20px
}