@import "../abstract/colors";

.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__title {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h1 {
      color: $solid-color-white;
      font-size: 100px;
      font-family: 'Merriweather Sans', sans-serif;
      line-height: normal;
    }
    img {
      width: 200px;
      height: 157px;
    }
  }
  &__form{
    p {
      color: $solid-color-white;
      font-size: 20px;
      strong > a {
        color: $solid-color-green;
        text-decoration: none;
      }
    }
  }
}
