@import "../abstract/colors";

.welcome {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__title {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h1 {
      color: $solid-color-white;
      font-size: 100px;
      font-family: 'Merriweather Sans', sans-serif;
      line-height: normal;
    }
    img {
      width: 200px;
      height: 157px;
    }
  }
  &__buttons {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .buttons-container {
      margin: 10px;
      width: 100%;

      button {
        width: 182px;
        height: 42px;
        margin: 10px;
        font-size: 19px;
        border-radius: 10px;
        background-color: $solid-color-green;
      }

      button:hover {
        background-color: $solid-color-green-dark;
      }
    }
  }
}
