<section class="welcome flex flex-col justify-center min-h-screen p-4">
    <!-- welcome-logo -->
     <div class="welcome-logo">
        <!-- welcome-logo__image-->
        <div class="welcome-logo__image flex justify-center p-5">
            <img src="../../../assets/icons/icon_big_white.png" alt="logo_image" width="200" height="200"/>
        </div>
        <!-- welcome-logo__title -->
        <div class="welcome-logo__title p-5">
          <h1 class="text-9xl font-bold text-white text-center p-2">El Picoteo S.L</h1> 
          <p class="text-3xl text-white text-center p-2">{{ "El punto de encuentro para el buen picoteo." | titlecase}}</p>
        </div>
     </div>
    <!-- welcome-buttons -->
    <div class="welcome-buttons">
      <div class="welcome-buttons__container flex justify-center p-5">
        <p-button 
        class="btn m-2 p-5 text-white"
        routerLink="auth/login" 
        label="Acceder" 
        styleClass="btn-green"/>

        <p-button 
        class="btn btn-secondary m-2 p-5 text-white"
        routerLink="/auth/register" 
        label="Registro" 
        styleClass="btn-green" />
      </div>
    </div>
</section>