<form
  class="flex flex-col gap-2 items-center"
  (ngSubmit)="onSubmit()"
  [formGroup]="loginForm"
>
  <!-- email -->
  <p-inputgroup class="py-1 w-full max-w-xs">
    <p-inputgroup-addon>
      <i class="pi pi-envelope"></i>
    </p-inputgroup-addon>
    <input
      formControlName="email"
      class="px-2"
      pInputText
      placeholder="Email"
    />
  </p-inputgroup>
  <!-- password -->
  <p-inputgroup class="py-1 w-full max-w-xs">
    <p-inputgroup-addon>
      <i class="pi" [class]="showPassword() ? 'pi-lock-open' : 'pi-lock'"></i>
    </p-inputgroup-addon>
    <input
      [type]="showPassword() ? 'text' : 'password'"
      formControlName="password"
      class="px-2"
      pInputText
      placeholder="Password"
    />
  </p-inputgroup>
  <!-- checkbox (no login) -->
  <p-inputgroup class="py-1 w-full max-w-xs">
    <p-checkbox
      (change)="showHidePassword()"
      value="New York"
      inputId="ny"
    />
    <label for="sp" class="ml-2">Show Password</label>
  </p-inputgroup>
  <!-- button -->
  <div class="flex flex-row justify-between items-center w-full">
    <p-button
      type="submit"
      class="btn text-white w-full text-center py-5"
      label="Login"
      styleClass="btn-green"
    >
    </p-button>
    @if (isPosting()) {
      <div class="m-0 p-0">
        <shared-loader />
      </div>
    }
  </div>
</form>
<div class="w-full max-w-xs">
  <p-button
    type="button"
    class="btn block w-full text-center py-5 text-white"
    label="Bienvenida"
    (click)="redirectToWelcome()"
    styleClass="btn-green w-full"
  >
  </p-button>
</div>
@if (hasError()) {
  <login-alert [loginerrorPayload]="loginErrorsMessages()" />
}
