<div class="menu-float absolute top-4 right-4 rounded-lg shadow-lg p-4 z-10 flex flex-col">
      <h2 class="text-lg font-bold mb-2">Menu de Opciones</h2>
      <hr>
      <ul class="space-y-2 menu-float__list">
        <li class="menu-float__list--element"><button class="w-full">Agregar Nodo</button></li>
        <li class="menu-float__list--element"><button class="w-full">Eliminar Nodo</button></li>
        <li class="menu-float__list--element"><button class="w-full">Agregar Arista</button></li>
        <li class="menu-float__list--element"><button class="w-full">Eliminar Arista</button></li>
      </ul>
  </div>