<div class="dashboard-navbar animate__animated animate__fadeIn">
  <private-navbar [section]="'dashboard'" />
</div>

<p-sidebar [(visible)]="sidebarVisible" [fullScreen]="true">
  <private-sidebar [section]="'dashboard'" />
</p-sidebar>

<router-outlet />

<div class="open-sidebar fixed bottom-4 right-4 z-[2147483647]">
  <p-button
    class="inline-flex items-center justify-center w-12 h-12 rounded-full shadow-md"
    (onClick)="toggleSideBar()"
  >
    <lucide-icon name="panel-right-close"></lucide-icon>
  </p-button>
</div>
