<p-dialog
  [visible]="visible()"
  (visibleChange)="onDialogVisibleChange($event)"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  [dismissableMask]="true"
  [header]="'inventory.modal.edit_title' | translate"
  [style]="{ width: '32rem', maxWidth: '95vw' }"
>

  <p-toast />

  <pre>{{ inventoryItem() }}</pre>

  <form
    class="flex flex-col gap-4 pt-2"
    [formGroup]="inventoryForm"
    (ngSubmit)="onSubmit()"
  >

    <!-- NOMBRE -->
    <div class="flex flex-col gap-2">
      <label for="nombre" class="text-sm font-semibold">
        {{ 'inventory.form.name' | translate }}
      </label>

      <input
        id="nombre"
        type="text"
        formControlName="nombre"
        class="w-full rounded-lg border border-slate-300 px-3 py-2"
        [placeholder]="'inventory.form.name_placeholder' | translate"
      />
    </div>

    <!-- TIPO -->
    <div class="flex flex-col gap-2">
      <label for="tipo" class="text-sm font-semibold">
        {{ 'inventory.form.type' | translate }}
      </label>

      <select
        class="w-full rounded-lg border border-slate-300 px-3 py-2"
        formControlName="tipo"
      >
        @for (intenvoryType of InventoryTypes(); track intenvoryType) {
          <option [value]="intenvoryType">
            {{ intenvoryType }}
          </option>
        }
      </select>
    </div>

    <!-- CANTIDAD -->
    <div class="flex flex-col gap-2">
      <label for="cantidad" class="text-sm font-semibold">
        {{ 'inventory.form.quantity' | translate }}
      </label>

      <input
        id="cantidad"
        type="number"
        formControlName="n_unidades"
        class="w-full rounded-lg border border-slate-300 px-3 py-2"
        [placeholder]="'inventory.form.quantity_placeholder' | translate"
      />
    </div>

    <!-- UNIDAD -->
    <div class="flex flex-col gap-2">
      <label for="unidad" class="text-sm font-semibold">
        {{ 'inventory.form.units' | translate }}
      </label>

      <select
        class="w-full rounded-lg border border-slate-300 px-3 py-2"
        formControlName="unidades"
      >
        @for (validUnit of validUnits(); track validUnit) {
          <option [value]="validUnit">
            {{ validUnit }}
          </option>
        }
      </select>
    </div>

    <!-- PROVEEDOR -->
    <div class="flex flex-col gap-2">
      <label for="proveedor" class="text-sm font-semibold">
        {{ 'inventory.form.supplier' | translate }}
      </label>

      <input
        id="proveedor"
        type="text"
        formControlName="proveedor"
        class="w-full rounded-lg border border-slate-300 px-3 py-2"
        [placeholder]="'inventory.form.supplier_placeholder' | translate"
      />
    </div>

    <!-- PRECIO -->
    <div class="flex flex-col gap-2">
      <label for="precio" class="text-sm font-semibold">
        {{ 'inventory.form.unit_price' | translate }}
      </label>

      <input
        id="precio"
        type="number"
        formControlName="precio_unidad"
        class="w-full rounded-lg border border-slate-300 px-3 py-2"
        [placeholder]="'inventory.form.unit_price_placeholder' | translate"
      />
    </div>

    <!-- BOTONES -->
    <div class="flex justify-end gap-3 pt-2">

      <button
        type="button"
        class="p-ripple p-button p-component"
        (click)="onClose()"
      >
        {{ 'common.cancel' | translate }}
      </button>

      <button
        type="submit"
        class="p-ripple p-button p-component p-button-info"
      >
        {{ 'inventory.form.save_edit' | translate }}
      </button>

    </div>

  </form>

  <pre>{{ inventoryForm.value | json }}</pre>
  <pre>{{ inventoryForm.valid | json }}</pre>
  <pre>{{ inventoryForm.pristine | json }}</pre>
  <pre>{{ inventoryForm.touched | json }}</pre>
  <pre>{{ inventoryForm.errors | json }}</pre>

</p-dialog>