<article class="dashboard-container">
  <!-- Seccion INventario + Ganancias/Perdidas -->
  <section class="first-section">
    <div class="first-section__container table-container inventory-container">
      <app-sort-filter-table
        [titleInput]="inventoryTitle"
        [displayedColumnsInput]="inventoryDisplayedColumns"
        [dataSourceInput]="inventoryDataSource"
      />
    </div>
    <div class="first-section__container table-container gains-losses-container">
      <app-money-pannel
      [flag]="gainsFlag"
      />
      <app-money-pannel
      [flag]="lossesFlag"
      />
    </div>
  </section>

  <!-- Seccion Recetas -->
  <section class="second-section">
    <div class="second-section__container table-container recipes-container">
      <app-recipes-table 
      [recipes]="recipesDataSource"
      />
    </div>
  </section>
  <!-- Seccion Ventas -->
  <section class="third-section">
    <div class="third-section__container table-container sales-container">

    </div>
  </section>
</article>
