<article class="dashboard-parent">
  @if (isLoading()) {
    <section class="flex min-h-[60vh] items-center justify-center">
      <shared-loader />
    </section>
  } @else {
    <section class="dashboard-grid animate__animated animate__fadeIn">
      <!-- seccion recetas -->
      <div class="dashboard-div1">
        <dashboard-recetas [recipes]="dashboardRecipesData()" />
      </div>

      <!-- seccion stock -->
      <div class="dashboard-div2">
        <dashboard-stock [stock]="dashboardStockData()" />
      </div>

      <!-- seccion inventario -->
      <div class="dashboard-div3">
        <dashboard-inventory [inventory]="dashboardInventoryData()" />
      </div>

      <!-- seccion ventas -->
      <div class="dashboard-div4">
        <dashboard-ventas [ventas]="dashboardVentasData()" />
      </div>

      <!-- seccion gastos -->
      <div class="dashboard-div5">
        <dashboard-gastos [gastos]="dashboardGastosData()" />
      </div>
    </section>
  }
</article>
