<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar__container">
    <img
      class="navbar__icon"
      src="../../../assets/icons/icon_big_white.png"
      alt="alex_icon"
    />
    <p class="navbar__name">
      @if(userLogged) {
      <strong>{{ user.name }} {{ user.second_name }}</strong>
      } @else {
      <strong>El Picoteo</strong>
      }
    </p>
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="routes__list navbar-nav">
      @if(userLogged) {
      <li class="routes__list-item nav-item" >
        <a [routerLink]="['/private/dashboard']" [routerLinkActive]="['active-link']" class="item-link nav-link"
          >Dashboard</a
        >
      </li>
      <li class="routes__list-item nav-item">
        <a [routerLink]="['/private/inventario']" [routerLinkActive]="['active-link']" class="item-link nav-link"
          >Inventario</a
        >
      </li>
      <li class="routes__list-item nav-item">
        <a [routerLink]="['/private/recetas']" [routerLinkActive]="['active-link']" class="item-link nav-link"
          >Recetas</a
        >
      </li>
      <li class="routes__list-item nav-item">
        <a [routerLink]="['/public/stock']"  [routerLinkActive]="['active-link']" class="item-link nav-link">Stock</a>
      </li>
      }
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    @if(userLogged) {
    <button
      (click)="logOut()"
      type="button"
      style="margin-right: 10px;"
      class="btn btn-danger item-link"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Log Out
    </button>
  }
  </form>
</nav>
