<div class="general-card m-2 w-80 h-50 shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
  <h3 class="text-3xl font-bold  mb-3 elipsis-text">{{ recipe.nombre_producto }}</h3>

  <table class="w-full text-sm">
    <tbody>
      <tr>
        <td class="flex items-center py-1">
          <lucide-icon [img]="Clock" class="w-4 h-4 mr-2 crad__icon"></lucide-icon>
          <span class="card__data">Tiempo:</span>
        </td>
        <td class=" py-1">{{ recipe.tiempo_produccion }}</td>
      </tr>
      <tr>
        <td class="flex items-center py-1">
          <lucide-icon [img]="DollarSign" class="w-4 h-4 mr-2 crad__icon"></lucide-icon>
          <span class="card__data">Coste:</span>
        </td>
        <td class=" py-1">{{ recipe.coste }} €</td>
      </tr>
      <tr>
        <td class="flex items-center py-1">
          <lucide-icon [img]="Star" class="w-4 h-4 mr-2 crad__icon"></lucide-icon>
          <span class="card__data">Dificultad:</span>
        </td>
        <td class="py-1">
          <span class="font-medium"
                [ngClass]="{
                  'difficulty-easy': recipe.dificultad === 'facil',
                  'difficulty-medium': recipe.dificultad === 'media',
                  'difficulty-hard': recipe.dificultad === 'dificil'
                }">
            {{ recipe.dificultad | titlecase }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>