<section class="login flex flex-col justify-center min-h-screen lg:p-4">
    <div class="login__titlew-full lg:p-5 lg:w-lg flex flex-col backdrop-blur-md bg-brand-primary-opacity rounded-2xl">
        <div class="login__title-text p-9">
            <p class="text-center text-7xl lg:text-[80px] text-white">
                <span class="flex flex-col flex-nowrap items-center">
                    <img width="71" height="58" class="welcome-icon" src="../../../../assets/icons/icon_big_white.png"
                        alt="icon_image" />
                    Inicio de Sesion
                </span>
            </p>
            <div class="red-container h-[10px] rounded-2xl"></div>
        </div>
        <div class="login__title-form flex justify-center items-center">
            <form class="w-full" [formGroup]="myForm" autocomplete="off" (ngSubmit)="submitForm()">
                <div class="join fieldset m-3 flex items-center justify-center">
                    <div>
                      <label class="input validator join-item w-auto">
                        <input type="email" formControlName="email" class="input w-full" placeholder="Email Here..."/>
                      </label>
                      <div class="validator-hint hidden">Enter valid email address</div>
                    </div>
                </div>
                <div class="join fieldset m-3 flex flex-col items-center justify-center">
                    <div>
                      <label class="input validator join-item w-[100%]">
                        <input type="{{ passwordVisible() ? 'text' : 'password' }}" formControlName="password" class="input w-full" placeholder="Password Here..."/>
                      </label>
                      <div class="validator-hint hidden">Enter valid email address</div>
                    </div>
                    <div>
                        <input type="checkbox" class="text-white checkbox" (click)="togglePasswordVisualice()"/>
                        <label class="text-white text-xl mx-3 checkbox-label">Mostrar contraseña</label>
                    </div>
                </div>

                <div class="lg:m-5 my-3 flex flex-col items-center justify-center">
                    <button type="submit" class="btn btn-green w-[50%] text-white">Iniciar Sesion</button>
                    @if(isLoading()) {
                        <div class="loader m-3">
                            <shared-loader />
                        </div>
                    }
                </div>
                <p class="text-center text-white text-[20px]">
                    ¿No tienes cuenta? <a class="color-green" [routerLink]="['/public/welcome']">Volver a Inicio</a>
                </p>
            </form>
        </div>
    </div>
</section>