<div class="sidemenu">
    <!-- bootstrapFolderFill -->
    <!-- title & icon -->
    <div class="sidemenu__container">
        
        <div class="sidemenu__container--presentation">
            <h1 class="title-text">Bienvenido!</h1>
            <img class="title-img" src="../../../assets/icons/icon_big_white.png" alt="alex_icon">
        </div>
    </div>

    <div class="sidemenu__legal">
        <div class="sidemenu__legal--box">
            <p>Politica de Privacidad</p>
            <p>Aviso Legal</p>
            <p>Contacto</p>
        </div>
    </div>
</div>