$solid-color-black:         #070709;
$solid-color-black-at:      #282a36;
$solid-color-brown:         #645933;
$solid-color-light:         #F7F1D5;
$solid-color-red:           #B42e33;
$solid-color-gray:          #3E413C;
$solid-color-green:         #7CA81F;
$solid-color-green-dark:    #586B2F;
$solid-color-white:         #FFFFFF;

$primary-color-blue: #1A1F2E;
$secondary-color-blue: #2D3748;