@use "../abstract/colors" as c;

.top-bar-card-v {
  &__title {
    &--icon {
      color: c.$solid-color-green;
      width: 24px;
      height: 24px;
    }
  }
  &__button {
    padding: 0 5px;
    margin: 3px 0;
    border-radius: 10px;
    background-color: c.$solid-color-green;
    color: c.$solid-color-white;
    transition: background-color 0.2s ease;
    cursor: pointer;

    &:hover {
      background-color: rgba(c.$solid-color-green, 0.8);
    }
  }
}
