@import '../abstract/colors';

.table {
    width: 100%;
    &__title a {
      text-decoration: none; /* Quitar subrayado */
      color: inherit; /* Tomar el color del texto del título */
    }
    
    &__title a:hover {
      color: $solid-color-green; /* Cambiar color al pasar el mouse (opcional) */
    }
    
}

.mat-mdc-form-field {
    display: block;
}

tr, td{
  font-size: 20px; /* Cambia esto por el tamaño de fuente que prefieras */
}