@use "../abstract/colors" as *;


.login__form {
    font-size: large;
    height: 100%;
    padding: 20px;
  
    &--form {
      display: grid;
      place-items: center;
      .fieldset-email,
      .fieldset-password {
        display: flex;
        flex-direction: column;
        margin: 15px;
        width: 100%;
      }
  
      fieldset {
        display: grid;
        place-items: center;
        input {
          border-radius: 10px;
          border: none;
          margin: 10px;
          padding: 10px;
          height: 62px; // 50px;
          width: 100%;
        }
        input:focus {
          border: none;
        }
      }
  
      button {
        margin: 20px;
        padding: 10px;
        width: 100%;
        height: 50px;
        
        font-size: large;
        border-radius: 15px;
        background-color: $solid-color-green;
      }
  
      button:hover {
        background-color: $solid-color-green-dark;
        color: $solid-color-white;
      }
  
      input,
      button {
        width: 200px;
      }
    }
    &--text {
      font-size: 20px;
      strong > .text-link {
        color: $solid-color-green;
        text-decoration: none;
      }
    }
  }
  