@import "../abstract/colors";

.pannel-container {
    margin: 10px;
    
    &__title {
        text-align: center;
    }
    &__number {
        background-color: $solid-color-white;
        height: 20vh;
    }
}