<div class="modal-header">
    <h4 class="modal-header__title">{{ modalTitle }}</h4>
  </div>
  <div class="modal-body">
    Atencion! Estas seguro que deseas borrar el producto <strong>{{ productName }}</strong>?
    Esta accion no se puede deshacer.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
    <button type="button" class="btn btn-danger" (click)="deleteProduct(productName)">
      Borrar
    </button>
  </div>
  
  <div *ngIf="isLoading" class="loader-container">
  <app-loader/>
  </div>
  