<section class="welcome">

    <div class="welcome__title">
      <h2 class="welcome-title">El Picoteo S.L</h2>
      <img class="welcome-icon" src="../../../../assets/icons/icon_big_white.png" alt="icon_image">
    </div>
  
    <div class="welcome__buttons">
      <div class="buttons-container">
        <button
        class="button-client"
        id="client"
        type="button"
        mat-raised-button
        color="primary"
        (click)="redirect('stock')"
      >
        Soy Cliente
      </button>
      <button
        class="button-employee"
        id="employee"
        type="button"
        mat-raised-button
        color="primary"
        (click)="redirect('login')"
      >
        Soy Empleado
      </button>
      </div>
    </div>
    
  </section>
  