<div class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
  </div>
  <div class="modal-body">
        <!-- Si el valor de inputData es 'nuevo-inventario', mostramos el formulario -->
        <div *ngIf="inputData === 'nuevo-inventario'">
            <app-new-inventory-form #form (formData)="setFormComponent(form)"/>
        </div>

        <!-- Si el valor de inputData es 'editar-inventario', mostramos otro contenido -->
        <div *ngIf="inputData === 'editar-inventario'">
            <p>Formulario para editar un producto de inventario.</p>
            <!-- Aquí podrías poner otro formulario o contenido relacionado con 'editar-inventario' -->
        </div>

        <!-- Si el envio ha sido erroneo mostramos el mensaje -->
        <div *ngIf="sendProccessError" class="alert alert-danger" role="alert">
          {{ responseMessage }}
        </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">
      Guardar
      
    </button>
  </div>
  

  <div *ngIf="isLoading" class="loader-container">
    <app-loader/>
  </div>