/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "./sass/main.scss";

html,
body {
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: column;
}
