/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './sass/main.scss';

html, body {
    background-image: url('./assets/imgs/vintage-old-rustic-cutlery-dark-rotated.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
