@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --black
};

// definimos variables globales
@import "./sass/main.scss";

html, body {
    background-image: url('./assets/imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:'Domine', serif;
    
    margin: 0;
    padding: 0;
    height: 100vh;
}

.btn-green {
    background-color: $solid-color-green;
}
.color-green {
    color: $solid-color-green;
}
.bg-brand-primary-opacity {
    background-color: rgba(247, 241, 213, 0.1); /* 10% opacidad */
  }
.red-container {
    background-color: $solid-color-red;
}