<p-dialog
  [visible]="visible()"
  (visibleChange)="close.emit()"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  [dismissableMask]="true"
  styleClass="dinning-room-dialog"
  maskStyleClass="dinning-room-dialog-mask"
>

  @if (selectedNode(); as node) {

    <ng-template pTemplate="header">

      <div class="dinning-room-dialog__header">

        <div class="dinning-room-dialog__badge">
          {{ node.type }}
        </div>

        <span class="dinning-room-dialog__title">
          {{ node.label }}
        </span>

      </div>

    </ng-template>

    <div class="dinning-room-dialog__content">

      <!-- ID -->
      <div class="dinning-room-dialog__card dinning-room-dialog__card--highlight">
        <p class="dinning-room-dialog__label">
          {{ 'dinning_room.modal.id' | translate }}
        </p>
        <p class="dinning-room-dialog__value">
          {{ node.id }}
        </p>
      </div>

      <!-- TYPE -->
      <div class="dinning-room-dialog__card dinning-room-dialog__card--default">
        <p class="dinning-room-dialog__label">
          {{ 'dinning_room.modal.type' | translate }}
        </p>
        <p class="dinning-room-dialog__value dinning-room-dialog__value--capitalize">
          {{ node.type }}
        </p>
      </div>

      <!-- TABLE -->
      @if (node.parentTable) {
        <div class="dinning-room-dialog__card dinning-room-dialog__card--default">
          <p class="dinning-room-dialog__label">
            {{ 'dinning_room.modal.table' | translate }}
          </p>
          <p class="dinning-room-dialog__value">
            {{ node.parentTable }}
          </p>
        </div>
      }

    </div>

    <ng-template pTemplate="footer">

      <div class="dinning-room-dialog__footer">

        <button
          type="button"
          class="dinning-room-dialog__button dinning-room-dialog__button--primary"
          (click)="close.emit()"
        >
          {{ 'common.close' | translate }}
        </button>

        <button
          type="button"
          class="dinning-room-dialog__button dinning-room-dialog__button--danger"
          (click)="delete.emit()"
        >
          {{ 'common.delete' | translate }}
        </button>

      </div>

    </ng-template>

  }

</p-dialog>