<div
  class="dinning-room-container m-3 flex flex-col h-screen animate__animated animate__fadeIn"
>

  <h1
    class="title__text text-2xl flex justify-center align-center text-center font-bold"
  >
    {{ 'dinning_room.title' | translate }}
  </h1>

  <hr class="border border-1 my-3" />

  <dinner-room-modal
    [visible]="isNodeDialogVisible()"
    [selectedNode]="selectedNode()"
    (close)="closeNodeDialog()"
    (delete)="deleteSelectedNode()"
    (clearOrder)="clearOrderFromSelectedNode()"
  />

  <div class="cy-wrapper flex flex-col">
    <div #cyContainer class="cy-container"></div>

    <!-- menu flotante -->
    <dinning-room-menu
      [tables]="tableOptions"
      (addNode)="onAddNode($event)"
    />

  </div>

</div>
